body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #253343;
    color: whitesmoke;
}

.soundboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 buttons per row */
    gap: 15px;
    justify-content: center;
    max-width: 400px;
    margin: 20px auto;
}

.sound-button, .stop-button {
    width: 100%;
    height: 60px; /* Set a fixed height for all buttons */
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #444;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
}

.sound-button:hover {
    background-color: #666;
}

.stop-button {
    grid-column: span 3; /* Make the stop button take a full row */
    background-color: #dd1400;
}

.stop-button:hover {
    background-color: darkred;
}

a {
    color: pink
}